section{
    background-color: black;
}

 input[type=date]:required:invalid::-webkit-datetime-edit {
    color: #958c7c;
}
 input[type=date]:focus::-webkit-datetime-edit {
    color: #958c7c !important;
}
input[type=date]:required::-webkit-calendar-picker-indicator {
    /* filter: invert(1); */
    background-color: #958c7c
}
