section{
    background-color: black;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: #625b4b;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

