
 <!-- ======= Header ======= -->
 <!-- <header id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      <img src="../../assets/img/AirlineLogo_White.png" style="height: 70px; width: 70px">
      <h1 class="logo me-auto me-lg-0"> <a href="">AEROTOR</a></h1>
      Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      
      
      <!-- <a href="/adminLogin" class="book-a-table-btn scrollto d-none d-lg-flex" style="margin-left: 0px;">Logout</a>
    </div>
  </header>End Header -->
<app-header></app-header>


      <!-- ======= Book A Table Section ======= -->
      <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
          
          <div class="section-title" style="padding-top: 70px;">
            <h2>Welcome Admin..</h2>
            <br>
            <p>Search a Flight</p>
          </div>
  
          <form role="form"  class="php-email-form" data-aos="fade-up" data-aos-delay="100" >
            <div class="row">
              <div class="col-lg-4 col-md-6 form-group">
                <input type="text" name="source" class="form-control" id="source" placeholder="Source Station" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" #source>
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="destination" id="destination" placeholder="Destination Station" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" #destination>
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0" >
                <input placeholder="Select Date" type="date" class="form-control" id="fDate" name="date" required #date>
                <div class="validate"></div>
              </div>
              
              <div class="text-center py-5 pt-5 h4">
                  <button type="submit" (click) = onpress(source.value,destination.value,date.value)>Search a Flight</button>
                  
                  <div id="render show flights" *ngIf="displayflights">
                      <br>
                    <!-- <app-showflights></app-showflights> -->
                    <table class="table table-dark table-striped table-hover h4" >
                    <thead>
                      <tr style="color: #cda45e; font-size: 18px;" >
                        <th scope="col">Flight Id</th>
                        <th scope="col">Flight Name</th>
                        <th scope="col">Source</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let flight of SeachedFlights" style="font-size: 18px;" >
                        
                        <td style="color: rgb(187, 189, 184);">{{flight.flightid}}</td>
                        <td style="color: rgb(187, 189, 184);">{{flight.flightname}}</td>
                        <td style="color: rgb(187, 189, 184);">{{flight.source}}</td>
                        <td style="color: rgb(187, 189, 184);">{{flight.destination}}</td>
                        <td style="color: rgb(187, 189, 184);">{{flight.status}}</td>
                        <td style="color: rgb(187, 189, 184);">{{flight.price}}</td>
                        <td style="color: rgb(187, 189, 184);">{{flight.date}}</td>
                        <td style="color: rgb(187, 189, 184);">{{flight.time}}</td>
                        <td style="color: rgb(187, 189, 184);">
                          <form>
                            <input type="text" list="drop" class="form-control" placeholder="Update Status" style="color: #958c7c;" #s>
                          <datalist id="drop">
                            <option style="color: #0a0907;" value="OnLane">OnLane</option>
                            <option style="color: #0a0907;" value="In Air">In Air</option>
                            <option style="color: #0a0907;" value="Scheduled">Scheduled</option>
                            <option style="color: #0a0907;" value="Landed">Landed</option>
                          </datalist>
                          </form>
                          
                          
                          <!-- <select class="form-control" style="color: #958c7c;" value={{flight.status}} #s>{{flight.status}}
                            <option style="color: #0a0907;" value="OnLane">OnLane</option>
                            <option style="color: #0a0907;" value="In Air">In Air</option>
                            <option style="color: #0a0907;" value="Scheduled">Scheduled</option>
                            <option style="color: #0a0907;" value="Landed">Landed</option>
                          </select> -->

                          <button type="submit"  (click) = updateStatus(flight.flightid,s.value,flight.source,flight.destination,flight.date)>
                            Update Status</button>
                          <button type="submit" (click) = delete(flight.flightid,flight.source,flight.destination,flight.date)>
                              Delete Flight</button>
                            </td>

                      </tr>
                    </tbody>
                    </table>
                    
                </div>
                  <div *ngIf="isError">

                    <br>
                    <br>
                    <p style="color: peachpuff;">No Data Found</p>
                  </div>
              </div>

              
              <div class="text-center py-5 pt-5 h4">
                <button type="submit" (click) = onAdd()>Add Flight</button>
                <div id="render show flights" *ngIf="addflight">
                    <br>
                  <app-addflight></app-addflight>
                  </div>
                
    
              </div>
              
            </div>
          </form>
          
        </div>

        
        
     
  