 <!-- ======= Header ======= -->
 <header id="header">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
    <img src="../../assets/img/AirlineLogo_White.png" style="height: 70px; width: 70px">
    <h1 class="logo me-auto me-lg-0"> <a href="" style="text-decoration: none;">AEROTOR</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
    <button class="btn btn-info"  (click)="Logout()">Logout</button>
            
    <!-- <button class="book-a-table-btn scrollto d-none d-lg-flex" style="margin-left: 0px; text-decoration: none;">Logout</button> -->

    </div>

</header><!-- End Header -->