<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
   <h3> <p style="align-items: center;">Add Flight</p></h3>
    <div class = "bookingformbox">
        <div class="booking-form" >
            <label>Flight Name</label>
            <!-- <input type="text" class="form-control" style="color: #958c7c;" placeholder="Flight Name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"  required #name> -->
            <input type="text" list="flightName" class="form-control" placeholder="Flight Name" style="color: #958c7c;" #name> 
            <datalist id="flightName">
                <option style="color: #0a0907;" value="AirAsia">AirAsia</option>
                <option style="color: #0a0907;" value="Air India">Air India</option>
                <option style="color: #0a0907;" value="Air India Express">Air India Express</option>
                <option style="color: #0a0907;" value="Go Air">Go Air</option>
                <option style="color: #0a0907;" value="IndiGo">IndiGo</option>
                <option style="color: #0a0907;" value="SpiceJet">SpiceJet</option>
                <option style="color: #0a0907;" value="Vistara">Vistara</option> 
            </datalist>
            



            <label>Source</label>
            <!-- <input type="text" class="form-control" style="color: #958c7c;" placeholder="Source" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" #src> -->
            
            <input type="text" list="source" class="form-control" placeholder="Source" style="color: #958c7c;" #src>
                <datalist id="source">
                    <option style="color: #0a0907;" value="Mumbai">Mumbai</option>
                    <option style="color: #0a0907;" value="Delhi">Delhi</option>
                    <option style="color: #0a0907;" value="Bangalore">Bangalore</option>
                    <option style="color: #0a0907;" value="Hyderabad">Hyderabad</option>
                    <option style="color: #0a0907;" value="Ahmedabad">Ahmedabad</option>
                    <option style="color: #0a0907;" value="Chennai">Chennai</option>
                    <option style="color: #0a0907;" value="Pune">Pune</option>
                    <option style="color: #0a0907;" value="Jaipur">Jaipur</option>
                    <option style="color: #0a0907;" value="Kolkata">Kolkata</option> 
                    <option style="color: #0a0907;" value="Lucknow">Lucknow</option>
                    <option style="color: #0a0907;" value="Kanpur">Kanpur</option>
                    <option style="color: #0a0907;" value="Nagpur">Nagpur</option>
                    <option style="color: #0a0907;" value="Indore">Indore</option>
                    <option style="color: #0a0907;" value="Thane">Thane</option>
                    <option style="color: #0a0907;" value="Bhopal">Bhopal</option>
                    <option style="color: #0a0907;" value="Visakhapatnam">Visakhapatnam</option>
                    <option style="color: #0a0907;" value="Patna">Patna</option>

                    <option style="color: #0a0907;" value="Goa">Goa</option>
                    <option style="color: #0a0907;" value="Kochi">Kochi</option>
                    <option style="color: #0a0907;" value="Guwahati">Guwahati</option>
                    <option style="color: #0a0907;" value="Srinagar">Srinagar</option>
                    <option style="color: #0a0907;" value="Bhubaneswar">Bhubaneswar</option>

                    <option style="color: #0a0907;" value="Siliguri">Siliguri</option>
                    <option style="color: #0a0907;" value="Varanasi">Varanasi</option>
                    <option style="color: #0a0907;" value="Chandigarh">Chandigarh</option>
                    <option style="color: #0a0907;" value="Amritsar">Amritsar</option>
                    <option style="color: #0a0907;" value="Port Blair">Port Blair</option>
                        
                </datalist>
                

            <label>Destination</label>
            <!-- <input type="text" class="form-control" style="color: #958c7c;" placeholder="Destination" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" #dest> -->
            
            <input type="text" list="destination" class="form-control" placeholder="Destination" style="color: #958c7c;" #dest>
                <datalist id="destination">
                    <option style="color: #0a0907;" value="Mumbai">Mumbai</option>
                    <option style="color: #0a0907;" value="Delhi">Delhi</option>
                    <option style="color: #0a0907;" value="Bangalore">Bangalore</option>
                    <option style="color: #0a0907;" value="Hyderabad">Hyderabad</option>
                    <option style="color: #0a0907;" value="Ahmedabad">Ahmedabad</option>
                    <option style="color: #0a0907;" value="Chennai">Chennai</option>
                    <option style="color: #0a0907;" value="Pune">Pune</option>
                    <option style="color: #0a0907;" value="Jaipur">Jaipur</option>
                    <option style="color: #0a0907;" value="Kolkata">Kolkata</option> 
                    <option style="color: #0a0907;" value="Lucknow">Lucknow</option>
                    <option style="color: #0a0907;" value="Kanpur">Kanpur</option>
                    <option style="color: #0a0907;" value="Nagpur">Nagpur</option>
                    <option style="color: #0a0907;" value="Indore">Indore</option>
                    <option style="color: #0a0907;" value="Thane">Thane</option>
                    <option style="color: #0a0907;" value="Bhopal">Bhopal</option>
                    <option style="color: #0a0907;" value="Visakhapatnam">Visakhapatnam</option>
                    <option style="color: #0a0907;" value="Patna">Patna</option>

                    <option style="color: #0a0907;" value="Goa">Goa</option>
                    <option style="color: #0a0907;" value="Kochi">Kochi</option>
                    <option style="color: #0a0907;" value="Guwahati">Guwahati</option>
                    <option style="color: #0a0907;" value="Srinagar">Srinagar</option>
                    <option style="color: #0a0907;" value="Bhubaneswar">Bhubaneswar</option>

                    <option style="color: #0a0907;" value="Siliguri">Siliguri</option>
                    <option style="color: #0a0907;" value="Varanasi">Varanasi</option>
                    <option style="color: #0a0907;" value="Chandigarh">Chandigarh</option>
                    <option style="color: #0a0907;" value="Amritsar">Amritsar</option>
                    <option style="color: #0a0907;" value="Port Blair">Port Blair</option>

                       
                </datalist>
                

            <label>Status</label>
            <!-- <input type="" id="status" class="form-control" style="color: #958c7c;" placeholder="Status" required #status> -->
            <input type="text" list="status" class="form-control" placeholder="Status" style="color: #958c7c;" #status>
            <datalist id="status">
                <option style="color: #0a0907;" value="OnLane">OnLane</option>
                <option style="color: #0a0907;" value="In Air">In Air</option>
                <option style="color: #0a0907;" value="Scheduled">Scheduled</option>
                <option style="color: #0a0907;" value="Landed">Landed</option>
              </datalist>
            
            <label>Date</label>
            <input type="date" class="form-control" style="color: #958c7c;" placeholder="Date" required #date>
            <label>Time</label>
            <input type="time" class="form-control" style="color: #958c7c;" placeholder="Time" required #time>
            <label>Price</label>
            <input type="number" class="form-control" style="color: #958c7c;" placeholder="Price" min = "1" required #price>
            
            <div class="inputgrp1">
                <label id = "label1">Economy Seats</label>
                <input type="number" class="form-control" style="color: #958c7c;" #eseat>
            </div>
            <div class="inputgrp1">
                <label id = "label1">Business Seats</label>
                <input type="number" class="form-control" style="color: #958c7c;" #bseat>
            </div>
            
            <div class="flights">
                <button class="btn btn-primary" type="submit" (click)="Addflight(name.value,src.value,dest.value,status.value,date.value,price.value,eseat.value,bseat.value,time.value)">Add Flight</button>
            </div>
        </div>
    </div>
</body>
</html>
