body{
    
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
.bookingformbox{
    margin-left:25%;
    margin-right: 25%;
    
    padding: 25px;
    border: 2px solid;
}
.booking-form{
    padding: 0 20px 20px;
    width: 400px;
}

.booking-form label{
    margin-bottom:15px ;
    margin-top: 10px;
    font-size: 22px;
}
input::placeholder
{
    color: #958c7c !important;
    
}
.inputgrp1
{
    width: 100px;
    
    padding: 5px;
    
}
.inputgrp
{
    width: 300px;
    font: 15px;
    padding: 5px;
    
}
#label1
{
    width: 300px;
}

.flights{
    
    margin-top: 20px;
    width:150px;
    margin-bottom: 45px;
}
p,label{
    color: #cda45e;
}


::-webkit-calendar-picker-indicator {
    filter: invert(70%);
    /* background-color: #958c7c */
}
