<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
   <h3> <p align = "center">Add Flight</p></h3>
    <div class = "bookingformbox">
        <div class="booking-form" >
            <label>Flight Name</label>
            <input type="text" class="form-control" style="color: #958c7c;" placeholder="Flight Name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"  required #name>
            <label>Source</label>
            <input type="text" class="form-control" style="color: #958c7c;" placeholder="Source" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" #src>
            <label>Destination</label>
            <input type="text" class="form-control" style="color: #958c7c;" placeholder="Destination" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" #dest>
            <label>Status</label>
            <input type="text" class="form-control" style="color: #958c7c;" placeholder="Status" required #status>
            <label>Date</label>
            <input type="date" class="form-control" style="color: #958c7c;" placeholder="Date" required #date>
            <label>Time</label>
            <input type="time" class="form-control" style="color: #958c7c;" placeholder="Time" required #time>
            <label>Price</label>
            <input type="number" class="form-control" style="color: #958c7c;" placeholder="Price" min = "1" required #price>
            
            <div class="inputgrp1">
                <label id = "label1">Economy Seats</label>
                <input type="number" class="form-control" style="color: #958c7c;" #eseat>
            </div>
            <div class="inputgrp1">
                <label id = "label1">Business Seats</label>
                <input type="number" class="form-control" style="color: #958c7c;" #bseat>
            </div>
            
            <div class="flights">
                <button class="btn btn-primary" type="submit" (click)="Addflight(name.value,src.value,dest.value,status.value,date.value,price.value,eseat.value,bseat.value,time.value)">Add Flight</button>
            </div>
        </div>
    </div>
</body>
</html>
