<header id="topheader">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      <img src="../../assets/img/AirlineLogo_White.png" style="height: 70px; width: 70px">
      <h1 class="logo me-auto me-lg-0"> <a href="" style="text-decoration: none;">AEROTOR</a></h1>
      <button class="btn btn-info" (click)="Logout()"  >Logout</button>
      </div>
  </header>

<div class="shadow-lg p-3 mb-5 bg-white rounded container">
    <div class="row">
        <div class="col-lg-6 " >
            <span class="font-weight-bold">Flight details:</span><br>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded ">
                <div class="col-lg-6">
                    <b>Flight id :</b> 
                </div>
                <div class="col-lg-6">
                        {{flight.flightid}}
                </div>
            </div>
            
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Flight name :</b> 
                </div>
                <div class="col-lg-6">
                        {{flight.flightname}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Source :</b> 
                </div>
                <div class="col-lg-6">
                        {{flight.source}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Destination :</b> 
                </div>
                <div class="col-lg-6">
                        {{flight.destination}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Economy Seats :</b> 
                </div>
                <div class="col-lg-6">
                        {{Eseat}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Business Seats :</b> 
                </div>
                <div class="col-lg-6">
                        {{Bseat}}
                </div>
            </div>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Date :</b> 
                </div>
                <div class="col-lg-6">
                        {{flight.date}}
                </div>
            </div>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Time :</b> 
                </div>
                <div class="col-lg-6">
                        {{flight.time}}
                </div>
            </div>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded" style="background-color: aquamarine;">
                <div class="col-lg-6">
                    <b>Price :</b> 
                </div>
                <div class="col-lg-6" style="font-weight: 700 ;">
                        {{price}}
                </div>
            </div>
        </div>

        <div class="col-lg-6" >
           <span class="font-weight-bold">Passenger details:</span> <br>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Passenger id :</b> 
                </div>
                <div class="col-lg-6">
                        {{user.userId}}
                </div>
            </div>
            
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Name :</b> 
                </div>
                <div class="col-lg-6">
                        {{user.name}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>EmailId</b> 
                </div>
                <div class="col-lg-6">
                        {{user.emailId}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Age :</b> 
                </div>
                <div class="col-lg-6">
                        {{user.age}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Gender :</b> 
                </div>
                <div class="col-lg-6">
                        {{user.gender}}
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Contact No. :</b> 
                </div>
                <div class="col-lg-6">
                        {{user.phonenumber}}
                </div>
            </div>
            
        </div>

    </div>
    <button class="btn btn-primary" style="margin-left: 46%; margin-top: 10px;" (click)="ConfirmBooking()">Confirm</button>
</div>

