<div class="shadow-lg p-3 mb-5 bg-white rounded container">
    <div class="row">
        <div class="col-lg-6" >
            Flight details:<br>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded ">
                <div class="col-lg-6">
                    <b>Flight id :</b> 
                </div>
                <div class="col-lg-6">
                        1
                </div>
            </div>
            
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Flight name :</b> 
                </div>
                <div class="col-lg-6">
                        AirIndia
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Source :</b> 
                </div>
                <div class="col-lg-6">
                        Delhi
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Destination :</b> 
                </div>
                <div class="col-lg-6">
                        Pune
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Economy Seats :</b> 
                </div>
                <div class="col-lg-6">
                        1
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Business Seats :</b> 
                </div>
                <div class="col-lg-6">
                        1
                </div>
            </div>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Date :</b> 
                </div>
                <div class="col-lg-6">
                        29-12-21
                </div>
            </div>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Time :</b> 
                </div>
                <div class="col-lg-6">
                        10:00:00
                </div>
            </div>
        </div>

        <div class="col-lg-6" >
            Passenger details:<br>
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Passenger id :</b> 
                </div>
                <div class="col-lg-6">
                        1
                </div>
            </div>
            
            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Name :</b> 
                </div>
                <div class="col-lg-6">
                        Aniket
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>EmailId</b> 
                </div>
                <div class="col-lg-6">
                        aniket@gmail
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Age :</b> 
                </div>
                <div class="col-lg-6">
                        21
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Gender :</b> 
                </div>
                <div class="col-lg-6">
                        Male
                </div>
            </div>

            <div class="row d-flex p-2 bd-highlight shadow-lg rounded">
                <div class="col-lg-6">
                    <b>Contact No. :</b> 
                </div>
                <div class="col-lg-6">
                        98842373
                </div>
            </div>
            
        </div>

    </div>
    




</div>