<div id="topheader">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
    <img src="../../assets/img/AirlineLogo_White.png" style="height: 70px; width: 70px">
    <h1 class="logo me-auto me-lg-0"> <a href="" style="text-decoration: none; color: white;">AEROTOR</a></h1>
  </div>
</div>



<section class="admin_login"  >
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
        </div>
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <div class="d-flex align-items-center mb-3 pb-1">
                <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                <img src="../../assets/img/AirlineLogo_White.png"
                     class="img-fluid" style="height: 100px;width: 100px;margin-left: 125px;" >
                
              </div>
            <h1>Welcome Admin</h1>
            <br>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input [(ngModel)]="admin.emailId" name="email" type="email" id="form1Example13" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example13">Your Email</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input [(ngModel)]="admin.password" name="password" type="password" id="form1Example23" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example23">Password</label>
            </div>
  
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="OnLogin()">Login</button>
  
            
            <p class="mb-2 pb-lg-2" 
                    [style.visibility]="isError ? 'hidden' : 'visible' "
                     style="color: #a8af83;font-family: 'Times New Roman', Times, serif;">
                     Username or Password is Invalid </p>
          </form>
        </div>
      </div>
    </div>
  </section>