#proloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
  }
  
  #proloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #cda45e;
    border-bottom-color: #cda45e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-proloader 1s linear infinite;
    animation: animate-proloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-proloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-proloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  a {
    color: #FFFFFF;
    text-decoration: none;
}

#main{
  background: #020202;
}


input[type=date]:required:invalid::-webkit-datetime-edit {
  color: #958c7c;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: #ffffff !important;
}

input[type=date]:required::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* background-color: #958c7c */
}

  h4{
    color: white;
  }

/* Testiminial css Start */

.card-body{
  background-color: rgb(87, 94, 67); color: white;
}
.card{
  width: 25rem; background-color: rgb(31, 32, 28); border-color: wheat;
  font-size: medium;
  margin-left: 10px;
  margin-right: 10px;
}
.card-text
{
  padding-bottom: 25px;
}

#testimonal-card img
{
 height: 250px;
 width: 247px;
 border: 3px solid rgb(87, 94, 67);
 padding: 5px 5px 5px 5px;
}

/* Testimonial ENDS */

.btn-info {
  /* color: #fff; */
  /* background-color: #5bc0de; */
  /* border-color: #46b8da; */
  background: #cda45e;
  border: 0;
  padding: 7px 12px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}


