
    <!-- ======= Top Bar ======= -->
    <!-- <div id="topbar" class="d-flex align-items-center fixed-top">
      <div class="container d-flex justify-content-center justify-content-md-between">
  
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
          <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
        </div>
  
        <div class="languages d-none d-md-flex align-items-center">
          <ul>
            <li>En</li>
            <li><a href="#">De</a></li>
          </ul>
        </div>
      </div>
    </div> -->
  
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
        <img src="../../assets/img/AirlineLogo_White.png" style="height: 70px; width: 70px">
        <h1 class="logo me-auto me-lg-0"> <a href="">AEROTOR</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
            <li><a class="nav-link scrollto" href="#developer">Developers</a></li>
            <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a href="#" class="book-a-table-btn scrollto d-none d-lg-flex " style="margin-left: 0px;">Log in</a>
        <a href="#" class="book-a-table-btn scrollto d-none d-lg-flex" style="margin-left: 0px;">Admin Login</a>
  
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-8">
            <h1>Welcome to <span> AEROTOR </span></h1>
            <h2> We Fly Together</h2>
  
            <div class="btns">
              <a href="#menu" class="btn-menu animated fadeInUp scrollto">All Flight</a>
              <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Flight</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
            <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
          </div>
  
        </div>
      </div>
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <br>
          <br>
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                <img src="https://images3.alphacoders.com/114/thumb-1920-114795.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="color: aliceblue;">
              <h3 style="color: #cda45e;">Why book with AEROTOR?</h3>
              <p class="fw-bold" >
                Book Flights for Holiday Packages
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Book a flight ticket for any domestic Airlines</li>
                <li><i class="bi bi-check-circle"></i> Get the cheapest flight</li>
                <li><i class="bi bi-check-circle"></i> Book ticket and get exciting offers</li>
              </ul>
              <p>
                On AEROTOR, you can tailor your trip from end-to-end by scouring suitable 
                flights and making your flight booking before proceeding with your hotel 
                bookings. AEROTOR’s vast flight repository will see you through this process
                seamlessly. Look up well-researched holiday packages, sift through cruise 
                packages and finalise your entire trip on just one platform.
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
  
      <!-- ======= Menu Section ======= -->
      <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <br>
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-starters">Starters</li>
                <li data-filter=".filter-salads">Salads</li>
                <li data-filter=".filter-specialty">Specialty</li>
              </ul>
            </div>
          </div>
  
          <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Lobster Bisque</a><span>$5.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <img src="assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Bread Barrel</a><span>$6.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/cake.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Crab Cake</a><span>$7.95</span>
              </div>
              <div class="menu-ingredients">
                A delicate crab cake served on a toasted roll with lettuce and tartar sauce
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="assets/img/menu/caesar.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Caesar Selections</a><span>$8.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <img src="assets/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Tuscan Grilled</a><span>$9.95</span>
              </div>
              <div class="menu-ingredients">
                Grilled chicken with provolone, artichoke hearts, and roasted red pesto
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/mozzarella.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Mozzarella Stick</a><span>$4.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Greek Salad</a><span>$9.95</span>
              </div>
              <div class="menu-ingredients">
                Fresh spinach, crisp romaine, tomatoes, and Greek olives
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Spinach Salad</a><span>$9.95</span>
              </div>
              <div class="menu-ingredients">
                Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <img src="assets/img/menu/lobster-roll.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Lobster Roll</a><span>$12.95</span>
              </div>
              <div class="menu-ingredients">
                Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Menu Section -->
  
  
      <!-- ======= Book A Table Section ======= -->
      <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <br>
            <br>
            <h2>Reservation</h2>
            <br>
            <p>Search a Flight</p>
          </div>
  
          <form role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
              <div class="col-lg-4 col-md-6 form-group">
                <input type="text" name="source" class="form-control" id="source" placeholder="Source Station" >
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="destination" id="destination" placeholder="Destination Station" >
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input type="date" class="form-control" name="date" id="date" placeholder="Journey Date">
                <div class="validate"></div>
              </div>
              
              <div class="text-center py-5 pt-5 h4"><button type="submit">Search a Flight</button></div>
            </div>

          </form>
  
        </div>
      </section><!-- End Book A Table Section -->
  
      <!-- ======= Testimonials Section ======= -->
       <section class="container" >
       
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div id="testimonal-card" class="carousel-inner">
            <div class="item active">
              <div class="d-flex justify-content-around" style="padding:50px 80px 50px 80px;">
                
                <div class="card">
                  <img src="../../assets/img/testimonials/testi-11-modified.png" class="card-img-top" alt="...">
                  
                  
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">- Shani Collins</span>
                     </p>
                  </div>
                </div>

                <div class="card" >
                  <img src="../../assets/img/testimonials/testimonials-5-modified.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">- Max Gray</span>
                     
                  </p>  
                  </div>
                </div>

                <div class="card" >
                  <img src="../../assets/img/testimonials/testi-10-modified.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">- Aryan Taneja</span>
                     
                  </p>
                  </div>
                </div>

              </div>
              </div>
        
            <div class="item">
              <div class="d-flex justify-content-around" style="padding:50px 80px 50px 80px;">
                <div class="card" >
                  <img src="../../assets/img/testimonials/testi-2-modified.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">- Daiyu Li</span>
                     
                  </p>  
                  </div>
                </div>

                <div class="card" >
                  <img src="../../assets/img/testimonials/testi-3-modified.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">- Jesse Kelley</span>
                     

                  </p> 
                  </div>
                </div>

                <div class="card" >
                  <img src="../../assets/img/testimonials/testi-4-modified.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">- Ali Powell</span>
                     

                  </p>
                  </div>
                </div>

                </div>
            </div>
        
            <div class="item">
              <div class="d-flex justify-content-around" style="padding:50px 80px 50px 80px;">
                <div class="card">
                  <img src="../../assets/img/testimonials/testi-5-modified.png" class="card-img-top" alt="...">
                  <div class="card-body" >
                    <p class="card-text">
                      
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        <br>
                        <span style="font-weight: bold; font-style: oblique;">- Malakai Hart</span>
                       

                    </p>
                  </div>
                </div>

                <div class="card" >
                  <img src="../../assets/img/testimonials/testi-6-modified.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">-Eleanor Young</span>
                     

                  </p> 
                  </div>
                </div>

                <div class="card" >
                  <img src="../../assets/img/testimonials/testimonials-4-modified.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                      
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae libero, facilis hic nobis repellendus!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      <br>
                      <span style="font-weight: bold; font-style: oblique;">- Cordelia Johnson</span>
                     

                  </p> 
                  </div>
                </div>

                </div> 
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>

  
      <!-- ======= Developer Section ======= -->
      <section id="developer" class="chefs">
        <div class="container" data-aos="fade-up">
            <br>
          <div class="section-title">
            <br> 
            <br>
            <br>        
            <h2>Developers</h2>
            <p>Our Developers</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <img src="../assets/img/developer/Developer-1.jpeg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Walter White</h4>
                    <span>CEO</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <img src="../assets/img/developer/Developer-2.jpeg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>Delivery Head</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="300">
                <img src="../assets/img/developer/Developer-3.jpeg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Wing Lau</h4>
                    <span>Developer</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Developer Section -->

            <!-- ======= Gallery Section ======= -->
            <section id="gallery" class="gallery">
  
              <div class="container" data-aos="fade-up">
                <div class="section-title">
                  <br>
                  <br>
                  <br>
                  <h2>Gallery</h2>
                  <p>Places you would like to visit </p>
                </div>
              </div>
        
              <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        
                <div class="row g-0">
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/TajMahal.jpeg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/Kerala.jpeg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/VARANASI.png" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/JAIPUR.jpeg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/Mumbai.jpeg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/Kolkata.jpeg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/Goa.jpeg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                  <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                      <a href="#" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="../assets/img/gallery/Hydrabad.jpeg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div>
        
                </div>
        
              </div>
            </section><!-- End Gallery Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <br>
    
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>
        </div>
  
        <div data-aos="fade-up">
          <iframe style="border:0; padding: 0 30px 0 30px; width: 100%; height: 350px;" src="https://maps.google.com/maps?width=720&amp;height=600&amp;hl=en&amp;q=9a,%20Aryabhata-Pingala,%2012,%20Kashibai%20Khilare%20Path,%20Marg,%20Erandwane,%20Pune,%20Maharashtra%20411004+(Aerotor)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" allowfullscreen></iframe>
        </div>
  
        <div class="container" data-aos="fade-up">
  
          <div class="row mt-5">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>9a, Aryabhata-Pingala, <br> 12,
                     Kashibai Khilare Path,
                    <br> Marg, Erandwane, Pune, 
                    <br> Maharashtra 411004</p>
                </div>
  
                <div class="open-hours">
                  <i class="bi bi-clock"></i>
                  <h4>Open Hours:</h4>
                  <p>
                    Monday-Saturday:<br>
                    11:00 AM - 23:00 PM
                  </p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55s</p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-8 mt-5 mt-lg-0">
  
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>Restaurantly</h3>
                <p>
                  A108 Adam Street <br>
                  NY 535022, USA<br><br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div>
  
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>
  
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Restaurantly</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <!-- <div id="proloader"></div> -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  

  
  
  
  
